@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Figtree:ital", sans-serif;
}

body {
  background-color: #718a94;
  
}

header {

/*   position: fixed; */
  display: flex;
  width: 100%;
  height: 130px;
  align-content: center;
  z-index: 9;
  top: 0;
}

nav {
  display: flex;
  background-color: black;
  width: 100%;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

#logo {
  width: 100px;
  height: 100px;
  border-radius: 100px 300px;
}

ul {
  display: flex;
  width: auto;
  justify-content: space-around;
  font-size: 40px;
  background-color: #018fd0;
}

li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: white;
  font-weight: bold;
  text-transform: none;
}

dropdown {
  position: relative;
  display: inline-block;
  font-family: "Figtree:ital", sans-serif;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#user-greeting {
  font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 auto; /* centraliza o elemento */
  
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

header nav ul li {
  margin-right: 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

#logout {
  display: none;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
  
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
   
}

.dropdown:hover .dropdown-content {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}


.contato {
  display: flex;
  width: 1330px;
  margin-top: 5px;
  font-family: "Kdam Thmor Pro", sans-serif;
  height: 120px;
  background-image: linear-gradient(to right, rgb(57, 116, 150), blue);
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.forma {
  display: flex;
  margin-top: 20px;
  background-color: rgb(212, 212, 230);
  width: 500px;
  height: 450px;
  flex-direction: column;
  border: solid 10px rgb(128, 156, 189);
  border-radius: 10px;
  align-items: start;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.8s;
}

#loading-message-cadastro, #loading-message-contact {
  display: none;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}


textarea {

  width: 97%;
  height: 100px;
  margin-top: 20px;
  background-color: #e5e7d1;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

.h2_quiz {
  margin-top: 50px;
  padding-left: 10px;
}

#img {
  width: 200px;
  height: 100px;

}

.container:after,
.row:after,
.clearfix {
  content: "";
  display: table;
  clear: both;
}

#questions_box {
  display: flex;
  width: 910px;
  height: 350px;
  background-color: rgba(50, 97, 68, 0.2);
  border-radius: 10px;
  align-items: center;
}

h3 {
  margin-top: 50px;
  margin-bottom: 50px;
}

#value-quiz {
  margin-top: 30px;
  margin-left: 50px;
}

a :hover {
  color: black;
  transition: 0.5s;
  opacity: 0.7;
}

.question,
.result {
  display: none;
  margin-left: 40px;
  margin-top: 20px;
}

.question.active {
  width: 850px;
  display: block;
}

#restart-pds {
  display: flex;
  width: 250px;
  height: 50px;
  margin-left: 500px;
  animation: pulse 3s 3s ease-in-out infinite;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Figtree:ital", sans-serif;
}

button {
  animation: pulse 3s 3s ease-in-out infinite;
  display: flex;
  width: 250px;
  height: 50px;
  background-color: #325d70;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Figtree:ital", sans-serif;
}

.button :hover {
  animation: pulse 3s 3s ease-in-out infinite;
  background-color: rgb(136, 179, 180);
  transition: 0.5s;
  opacity: 0.7;
}

#next1,
#next2,
#next3,
#next4,
#next5,
#next6,
#next7,
#next8,
#next9,
#next10,
#next11,
#next12,
#next13,
#next14,
#next15 {
  display: flex;
  width: 250px;
  height: 50px;
  margin-left: 460px;
  margin-top: 40px;

  /* verificar */
  background-color: #325d70;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Figtree:ital", sans-serif;
}

.container-quiz {
  width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  margin: auto;
}


#progress_container {
  height: 10px;
  width: 910px;
  background-color: #4caf50;
  padding: 0;
}

#progress_bar {
  background-color: #018fd0;
  width: 910px;
  height: 10px;
  transition: all 100ms ease-in-out;
  padding: 0;

}

a {

  margin-top: 20px;
  margin-bottom: 20px;
  animation: pulse 3s 3s ease-in-out infinite;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Figtree:ital", sans-serif;
}


.sobre {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cadastro {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.title_cad {
  font-family: "Figtree:ital", sans-serif;
  color: white;
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}

#title-php {
  font-family: "Figtree:ital", sans-serif;
  text-align: center;
  color: rgb(167, 139, 103);
  font-size: 30px;
}

#title-page-initial {
  font-family: "Figtree:ital", sans-serif;
  width: 1200px;
  color: black;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

p {
  display: flex;
  font-family: "Figtree:ital", sans-serif;
  flex-direction: column;
  color: #fff;
  font-size: 25px;
  margin-bottom: 50px;
}

.start-test {
  width: 430px;
  text-decoration: underline;
  font-family: "Figtree:ital", sans-serif;
  color: black;
  font-size: 25px;
}

footer {
  height: 250px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

span {
  color: #fff;
  font-family: "Figtree:ital", sans-serif;
  margin-top: -100px;
  font-size: 10px;
}

.span_result {
  color: #fff;
  font-family: "Figtree:ital", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}


/* ELEMENTOS DE FORMULÃRIO */

form label {
  display: block;
  width: fit-content;
  font-size: 0.8em;
  font-weight: 100;
  background-color: rgba(55, 41, 145, 0.2);
  padding: 3px 7px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 5px;
  font-family: "Figtree:ital", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}

input[type="text"],
[type="number"],
select,
input[type="date"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="range"],
input[type="tel"],
input[type="time"],
input[type="week"] {
  width: 100%;
  padding: 12px 20px;
  font-size: 1em;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #d8e0e4;
  font-family: "Figtree:ital", sans-serif;
}

input[type="submit"] {
  width: 100%;
  background-color: #537e91;
  font-size: 1em;
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Figtree:ital", sans-serif;
}

input[type="submit"]:hover {
  background-color: rgb(136, 179, 180);
}

input[type="reset"] {
  width: 100%;
  background-color: #eb9903;
  font-size: 1em;
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #c27013;
}

fieldset {
  border: 0.5px dotted #372991;
}

fieldset>legend {
  font-size: 0.8em;
  font-weight: 100;
  background-color: rgba(55, 41, 145, 0.2);
  padding: 3px 7px;
  border-radius: 5px;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
  display: inline-block;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  transform: scale(1.1);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
  max-width: 400px;
  margin: auto;
}