@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #537e91;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

.img {
  width: auto;
  height: auto;
  margin-top: -20px;
}

nav {
  padding: 10px;
  margin-top: 0;
  background-color: #457286;
  width: 100%;
  height: 160px;
  border-radius: 10px;
}

#logo {
  border-radius: 100px 300px;
}

ul {
  display: flex;
  width: auto;
  margin-left: 100px;
  justify-content: space-around;
  font-size: 40px;
  margin-top: -70px;
}

li {
  font-family: "Figtree:ital", sans-serif;
  font-size: 20px;
  list-style: none;
  color: white
}

a :hover {
  color: black;
  transition: 0.5s;
  opacity: 0.7;
}

.button {
  display: flex;
  margin-top: 80px;
  margin-bottom: 200px;
  flex-direction: column;
  align-items: center;
}

.button :hover {
  background-color: rgb(136, 179, 180);
  transition: 0.5s;
  opacity: 0.7;
}

button {
  margin-top: auto;
  width: 520px;
  height: 120px;
  background-color: #537e91;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.sobre {
  margin-top: 400px;
  width: 100%;
  height: 120px;
  flex-direction: column;
}

h1 {
  font-family: "Figtree:ital", sans-serif;
  width: 1200px;
  color: rgb(167, 139, 103);
  font-size: 30px;
  margin-left: 400px;
}

.cadastro {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.title_cad {
  font-family: "Figtree:ital", sans-serif;
  color: white;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  margin: 0;
}

p {
  font-family: "Figtree:ital", sans-serif;
  text-align: center;
  color: #fff;
  font-size: 25px;
}

footer {
  height: 250px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

span {
  color: #fff;
  font-family: "Figtree:ital", sans-serif;
  margin-top: -100px;
  font-size: 10px;
}

.img_footer {
  height: 50px;
  border-radius: 100px 300px;
}

/* ELEMENTOS DE FORMULÃRIO */

form {
  background-color: rgba(50, 97, 68, 0.2);
  padding: 15px;
  border-radius: 10px;
}

form label {
  display: block;
  width: fit-content;
  font-size: 0.8em;
  font-weight: 100;
  background-color: rgba(55, 41, 145, 0.2);
  padding: 3px 7px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 5px;
  font-family: "Figtree:ital", sans-serif;
}

input[type="text"],
[type="number"],
select,
input[type="date"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="range"],
input[type="tel"],
input[type="time"],
input[type="week"] {
  width: 100%;
  padding: 12px 20px;
  font-size: 1em;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #d8e0e4;
  font-family: "Figtree:ital", sans-serif;
}

input[type="submit"] {
  width: 100%;
  background-color: #537e91;
  font-size: 1em;
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Figtree:ital", sans-serif;
}

input[type="submit"]:hover {
  background-color: rgb(136, 179, 180);
}

input[type="reset"] {
  width: 100%;
  background-color: #eb9903;
  font-size: 1em;
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #c27013;
}

fieldset {
  border: 0.5px dotted #372991;
}

fieldset>legend {
  font-size: 0.8em;
  font-weight: 100;
  background-color: rgba(55, 41, 145, 0.2);
  padding: 3px 7px;
  border-radius: 5px;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
  display: inline-block;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
  max-width: 400px;
  margin: auto;
}