@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Figtree', sans-serif;
}

body {
    background-color: #FFC83D;
    margin: 0;
    padding: 0;

}

header {
    background-color: #018fd0;
    position: fixed;
    color: #FFFFFF;

    width: 100%;
    height: 130px;

    /* z-index: 9; */
    top: 0;
    opacity: 0;
    animation: fade-in 1s forwards;

}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}


header nav ul a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 10px;
}


header nav ul a:hover {

    background-color: #D35FB7;
    color: #3F51B5;

}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form label,
#login-form input {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}

#button-init {
    display: flex;
    animation: pulse 3s 3s ease-in-out infinite;
    width: 200px;
    height: 30px;
    background-color: #3F51B5;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    
    /* Ajuste a altura da linha para centralizar verticalmente o texto dentro do botão */
    text-align: center;
    /* Centralize o texto horizontalmente */
    
    /* Alinhe verticalmente ao meio  */
    margin: auto;
    padding-bottom: 30px;
}

#button-init:hover {
    background-color: #D35FB7;

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative; /* Permite que os filhos sejam posicionados relativamente a este contêiner */
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute; /* Posiciona o botão relativamente à div pai */
    top: 10px; /* Ajusta conforme necessário */
    right: 10px; /* Ajusta conforme necessário */
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 30px; /* Centraliza o texto verticalmente */
}

.close-button:hover {
    background-color: #d32f2f;
}


.close-button:hover {
    background-color: #d32f2f;
}


#logo {
    width: 100px;
    height: 100px;
    border-radius: 100px 300px;
}

#logo-footer {
    width: 50px;
    height: 50px;
}


#main-admin-dashboard{
    width: auto;
    height: auto;
}

/* 
#login-modal{
    flex-direction: column;
    align-items: center;
    background-color: white;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
    max-width: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
} */
#login-modal {
    display: none;
    /* Escondido por padrão */
    position: fixed;
    /* Fixa o modal na tela */
    top: 50%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta a posição para centralizar */
    background-color: white;
    /* Cor de fundo do modal */
    padding: 20px;
    /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra para destaque */
    z-index: 1000;
    /* Garantir que o modal fica acima de outros elementos */
    border-radius: 10px;
    /* Bordas arredondadas */
    width: 300px;
    /* Largura do modal */
}

#login-modal form {
    display: flex;
    flex-direction: column;
}

#login-modal label {
    margin-bottom: 5px;
}

#login-modal input {
    margin-bottom: 10px;
    padding: 5px;
}

#login-modal button {
    background-color: #3F51B5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#login-modal button:hover {
    background-color: #D35FB7;
    color: #3F51B5;
}

/* Fundo semitransparente */
#modal-background {
    display: none;
    /* Escondido por padrão */
    position: fixed;
    /* Fixa o fundo na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semitransparente */
    z-index: 999;
    /* Garantir que o fundo fica abaixo do modal */
}

header nav ul li {
    /* display: inline; */
    margin-right: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    /* line-height: 1.42857143; */
    color: white;
    font-weight: bold;
    text-transform: none;
}


/* li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: white;
    font-weight: bold;
    text-transform: none;
} */

dropdown {
    position: relative;
    display: inline-block;
    font-family: "Figtree:ital", sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#user-greeting {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
    /* centraliza o elemento */

}




header nav ul li a {
    color: #fff;
    text-decoration: none;
}

#logout {
    display: none;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#button-contact {
    height: 100px;
    width: 200px;
    
}


#logout #user-greeting {
    display: block;
    margin-bottom: 10px;
    /* Espaço entre a saudação e o botão */
}

#logout button {
    background-color: #3F51B5;
    /* Cor de fundo do botão */
    color: white;
    /* Cor do texto do botão */
    border: none;
    /* Remove a borda */
    padding: 10px 20px;
    /* Espaçamento interno do botão */
    border-radius: 5px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Cursor de mãozinha ao passar sobre o botão */
    font-size: 16px;
    /* Tamanho da fonte */
}

#logout button:hover {
    background-color: #D35FB7;
    /* Cor de fundo do botão ao passar o mouse */
    color: #3F51B5;
    /* Cor do texto ao passar o mouse */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;


}

.dropdown-content a:hover {
    background-color: #f1f1f1;

}

.dropdown:hover .dropdown-content {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    

}

.cad-email-adm {
    font-size: 10px;
}

.cad-email-adm:hover {
    background-color: #D35FB7;
    
}

.contato {
    display: flex;
    width: 1330px;
    margin-top: 5px;
    font-family: "Kdam Thmor Pro", sans-serif;
    height: 120px;
    background-image: linear-gradient(to right, rgb(57, 116, 150), blue);
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Ajuste conforme necessário */
    margin: 0 auto;
}

#contact-form label {
    width: 100%;
    margin-bottom: 5px;
    
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
}

#contact-form button {
    background-color: #3F51B5;
    color: white;
    border: none;
    padding-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center; /* Centraliza o botão */
}

#contact-form button:hover {
    background-color: #D35FB7;
    color: #3F51B5;
}

/* Mensagem de carregamento */
#loading-message-contact {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #3F51B5;
}

#load-users {
    margin-bottom: 20px;
    width: auto;
    padding: 5px;
    
}


.forma {
    display: flex;
    margin-top: 20px;
    background-color: rgb(212, 212, 230);
    width: 500px;
    height: 450px;
    flex-direction: column;
    border: solid 10px rgb(128, 156, 189);
    border-radius: 10px;
    align-items: start;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.8s;
}

users-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#users-table th, #users-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Centraliza o texto nas células */
}

#users-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#loading-message-cadastro {
    display: none;
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}


textarea {

    width: 97%;
    height: 100px;
    margin-top: 20px;
    background-color: #e5e7d1;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.h2_quiz {
    margin-top: 50px;
    padding-left: 10px;
}

#img {
    width: 200px;
    height: 100px;

}

.container:after,
.row:after,
.clearfix {
    content: "";
    display: table;
    clear: both;
}

#questions_box {
    display: flex;
    width: 910px;
    height: 350px;
    background-color: rgba(50, 97, 68, 0.2);
    border-radius: 10px;
    align-items: center;
}

h3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#value-quiz {
    margin-top: 30px;
    margin-left: 50px;
}

a :hover {
    color: black;
    transition: 0.5s;
    opacity: 0.7;
}

.question,
.result {
    display: none;
    margin-left: 40px;
    margin-top: 20px;
}

.question.active {
    width: 850px;
    display: block;
}

#restart-pds {
    display: flex;
    width: 250px;
    height: 50px;
    margin-left: 500px;
    animation: pulse 3s 3s ease-in-out infinite;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Figtree:ital", sans-serif;
}

button {
    display: flex;
    animation: pulse 3s 3s ease-in-out infinite;
    width: 200px;
    height: 40px;
    background-color: #3F51B5;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;

    
    

    border: none;
    padding: 6px 10px;



    text-align: center; /* Centraliza o texto dentro do botão */
    align-self: center; /* Centraliza o botão no formulário */
    justify-content: center;
    
    
    


}

button :hover {
    animation: pulse 3s 3s ease-in-out infinite;
    background-color: #3F51B5;
    transition: 0.5s;
    opacity: 0.7;

}

#next1,
#next2,
#next3,
#next4,
#next5,
#next6,
#next7,
#next8,
#next9,
#next10,
#next11,
#next12,
#next13,
#next14,
#next15 {
    display: flex;
    width: 250px;
    height: 50px;
    margin-left: 460px;
    margin-top: 40px;

    /* verificar */
    background-color: #325d70;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Figtree:ital", sans-serif;
}



#button-contact {
    display: inline-block;
    background-color: #3F51B5;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Adicione espaço superior se necessário */
    height: auto;
}

#button-contact:hover {
    background-color: #D35FB7;
    color: #3F51B5;
}

.container-quiz {
    width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    margin: auto;
}


#progress_container {
    height: 10px;
    width: 950px;
    background-color: #4caf50;
    padding: 0;
    border-radius: 5px;
}

#progress_bar {
    background-color: #018fd0;
    width: 950px;
    height: 10px;
    transition: all 100ms ease-in-out;
    padding: 0;
    border-radius: 5px;

}

a {

    margin-top: 20px;
    margin-bottom: 20px;
    animation: pulse 3s 3s ease-in-out infinite;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Figtree:ital", sans-serif;
    text-align: center;
}


.sobre {
    opacity: 0;
    transform: translateX(-20px);
    animation: slide-in 1s 1.5s forwards;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sobre p {
    color: #3F51B5;
}


.cadastro {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.title_cad {
    font-family: "Figtree:ital", sans-serif;
    color: white;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}

#title-php {
    font-family: "Figtree:ital", sans-serif;
    text-align: center;
    color: rgb(167, 139, 103);
    font-size: 30px;
}

#title-page-initial {
    font-family: "Figtree:ital", sans-serif;
    width: 1200px;
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;

    opacity: 0;
    animation: fade-in 2s 1s forwards;


}

p {
    display: flex;
    font-family: 'Figtree', sans-serif;
    flex-direction: column;
    color: black;
    margin-bottom: 80px;
    font-size: 22px;
    text-align: center;
}

.fade-in {
    opacity: 0;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.start-test {
    width: 430px;
    text-decoration: underline;
    font-family: "Figtree:ital", sans-serif;
    color: black;
    font-size: 25px;
}

footer {

    background-color: #3F51B5;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    opacity: 0;
    animation: fade-in 1s 2s forwards;
}

span {
    color: black;
    font-family: "Figtree:ital", sans-serif;
    margin-top: -100px;
    font-size: 10px;
}

.span_result {
    color: #fff;
    font-family: "Figtree:ital", sans-serif;
    font-size: 20px;
    margin-top: 10px;
}


/* ELEMENTOS DE FORMULÁRIO */

/* form label {
    display: block;
    width: fit-content;
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    font-family: "Figtree:ital", sans-serif;
} */

main {
    display: flex;
    position: fixed;
    /* Fixa o modal na tela */
    top: 50%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta a posição para centralizar */
    background-color: white;
    /* Cor de fundo do modal */
    padding: 20px;
    /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra para destaque */
    z-index: 1000;
    /* Garantir que o modal fica acima de outros elementos */
    border-radius: 10px;
    /* Bordas arredondadas */
    width: 350px;
    /* Largura do modal */
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#cadastro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Ajuste conforme necessário */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cadastro-form label {
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
}

#cadastro-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#cadastro-form button {
    display: flex;
    background-color: #3F51B5;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center; /* Centraliza o texto dentro do botão */
    align-self: center; /* Centraliza o botão no formulário */
    justify-content: center;
}

#cadastro-form button:hover {
    background-color: #D35FB7;    
    color: #3F51B5;
}

/* Mensagem de carregamento */
#loading-message-cadastro {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #3F51B5;
}

#block-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}


h1 {
    margin-bottom: 20px;
}

input[type="text"],
[type="number"],
select,
input[type="date"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="range"],
input[type="tel"],
input[type="time"],
input[type="week"] {
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #d8e0e4;
    font-family: "Figtree:ital", sans-serif;
}

input[type="submit"] {
    width: 100%;
    background-color: #537e91;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Figtree:ital", sans-serif;

}

input[type="submit"]:hover {
    background-color: rgb(136, 179, 180);
}

input[type="reset"] {
    width: 100%;
    background-color: #eb9903;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="reset"]:hover {
    background-color: #c27013;
}

fieldset {
    border: 0.5px dotted #372991;
}

fieldset>legend {
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 3px 7px;
    border-radius: 5px;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    display: inline-block;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    transform: scale(1.1);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
    max-width: 400px;
    margin: auto;
}